// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #d54000;
$theme-colors: (
primary: #d54000
);

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family:'Archivo Black' , sans-serif;
    scroll-behavior: smooth;
}


.title{
    position: relative;
    height: 100vh;
    text-align: center;
    width: 100%;
    /*    overflow: hidden;*/
}

.title video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title h1{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15vw;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #000;
    mix-blend-mode: screen;
    text-align: center;
    line-height: 0.5em;
}

.title h1 span{
    font-size: 3vw;
}

.about_us{
    position: relative;
    color: white;
}

.about_text{
    position: absolute;
    top: 10%;
    bottom: 10%;
    background-color: #d64000;
    text-transform: uppercase;
}

.about_text div{
}

@media only screen and (max-width: 766px) {
    .about_text {
        position: relative;
        margin-top: 25%;
        padding-top: 35%;
        border-radius: .4rem
    }
    .about_img{
        position: absolute;
        top: 0;
    }

    .about_imgchef{
        position: absolute;
        top: 0;
    }
    .landing_invite{
        text-align: justified;
    }
}

.about_img{
    /*    position: absolute;*/
    z-index: 99;
}

/*left*/
.about_img {
    opacity: 0;
    transform: translateX(-10px);
}

.animate-fadeInLeft {
    opacity: 1;
    animation-name: fadeInLeft;
    animation-fill-mode: both;
    animation-duration: 1s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/*right*/
.about_imgchef {
    opacity: 0;
    transform: translateX(10px);
}

.animate-fadeInRight {
    opacity: 1;
    animation-name: fadeInRight;
    animation-fill-mode: both;
    animation-duration: 1s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.title h2{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5vw;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #000;
    mix-blend-mode: screen;
    text-align: center;
    line-height: 0.5em;
}

.login{
    text-align: center;
    color: #d64000;
    height: 100vh;
}

.register{
    height: 100vh;
}

@media only screen and (max-width: 766px){
    .register{
        height: auto;
    }
}

@media only screen and (max-height: 450px){
    .login{
        height: auto;
    }
    .register{
        height: auto;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spinning {
    animation: spin 60s infinite linear;
}

.btn_all{
    border-radius: 15px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar  {
    background: transparent;
    transition: background 0.3s ease-in-out;
    color: #d54000;
    //home, products, user management//
}

.nav_link{
    position: relative;
}

.nav_link :hover{
    text-decoration: underline;
    border-bottom: 4px solid #A33100;
}

.nav_link ::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #A33100;
    position: absolute;
    bottom: 0;
    left: 0;
}

.custom-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom-nav li {
    margin-right: 1rem;
}

.custom-nav li:first-child {
    margin-left: 0;
}

.custom-nav a {
    text-decoration: none;
    padding: 0.5rem;
}

.custom-nav a:hover {
    color: #A33100;
}

.custom-nav a.active:hover {
    color: #E1D9D1;
}

.navbar.active {
    background: #d54000;
    color: #fff;
}

.nav_link.active :hover{
    text-decoration: underline;
    border-bottom: 4px solid #E1D9D1;
}